body{
    font-family: 'Lora', serif;
    margin:0;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color:orange;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
    padding: 0px 20px 0px 0px;
}
.half-width a{
    margin-top:20px;
    display: inline-block;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 50px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightSalmon,tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color:white;
    font-weight: bold;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}